{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://i.ibb.co/FVD4DBF/logo-ico.png"
      type="image/icon type"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/d8e60bc0b5.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'gui/main.css' %}" /> -->
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Machine learning Visualization</title>
    {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(214, 214, 214);">
      <div class="container" style="width: 60%;">
        <a href="#" class="navbar-brand">Machine Learning Visualization</a>      
        <div class="navbar-nav ml-auto">          
          <a href="https://github.com/mhdb96/ML-Django-WebApp" class="nav-item nav-link" target="_blank"
            ><i  class="fab fa-github fa-lg"></i
          ></a>
          <a href="https://www.linkedin.com/in/mhdb96/" class="nav-item nav-link" target="_blank"
            ><i class="fab fa-linkedin fa-lg" ></i
          ></a>
        </div>
      </div>
      </div>
      
    </nav>
    <div class="container" style="width: 60%;">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
